/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import url(http://fonts.googleapis.com/css?family=Exo+2:600,400);

@mixin image-background($url) {
  background-image: image_url($url);
  background-repeat: no-repeat;
  background-position: center; 
}

html {
  font-family: 'Exo 2', sans-serif;
  color: #3E5B40;
}

.header {
  @include image-background('header280ppi.png');
  display: block;
  height: 250px;
  width: 100%;
}

.headerlinksmap {
  margin: 0 auto;
  display: block;
}

.breadcrumbs {
  list-style-type: none;

  li {
    display: inline;
    
    a {
      font-size: 0.8em;
      color: inherit;
      text-decoration: none;
      padding: 3px;
    }
  }
  li:before {
    content: "\00BB";
  }
}

.breadcrumbs, .breadcrumbs li {
  padding: 0;
  margin: 0;
}

.content, .breadcrumbs {
  width: 788px;
  margin: 0 auto;
  text-align: justify;
}

.footerinfo {
  @include image-background('footerinfo80ppi.png');
  height: 31px;
}


$footer-height: 248px;
$footer-whitespace-height: 54px;

.footer {
  @include image-background('footer280ppi.png');
  height: $footer-height;
  width: 1102px;
  margin: auto auto;
}

.extralinks {
  width: 420px;
  float: right;
  height: $footer-height - (2 * $footer-whitespace-height);
  padding-top: $footer-whitespace-height;
}

.extralinks .column {
  float: left;
  list-style-type: none;
  width: 150px;
}

.extralinks .column a {
  color: inherit;
  text-decoration: none;
}

$socialmedia-icon-size: 44px;
$socialmedia-icon-spacing: 4px;

.socialmedia {
  float: right;
  margin-top: 65px;
  margin-right: 40px;
}

.socialmedia ul  {
  list-style-type: none;
  width: ($socialmedia-icon-size + 2 * $socialmedia-icon-spacing) * 5 + 20;
  margin-top: 0;
}

.socialmedia li, .socialmedia a {
  display: inline-block;
  padding: $socialmedia-icon-spacing;  
  height: $socialmedia-icon-size;
  width: $socialmedia-icon-size;
}

.socialmedia a {
  
}

.facebook { @include image-background('socialmediaicons/facebook80ppi.png') }
.twitter { @include image-background('socialmediaicons/twitter80ppi.png') }
.instagram { @include image-background('socialmediaicons/instagram80ppi.png') }
.pinterest { @include image-background('socialmediaicons/pinterest80ppi.png') }
.linkedin { @include image-background('socialmediaicons/linkedin80ppi.png') }
.youtube { @include image-background('socialmediaicons/youtube80ppi.png') }
.googleplus { @include image-background('socialmediaicons/googleplus80ppi.png') }
.tumblr { @include image-background('socialmediaicons/tumblr80ppi.png') }
.skype { @include image-background('socialmediaicons/skype80ppi.png') }
.vimeo { @include image-background('socialmediaicons/vimeo80ppi.png') }

