.rating {
  width: 165px;
  span {
    float:right;
    position:relative;

    input {
      position:absolute;
      top:0px;
      left:0px;
      opacity:0;
    }

    label {
      display:inline-block;
      width:30px;
      height:30px;
      text-align:center;
      color:#FFF;
      color:#ccc;
      font-size:30px;
      margin-right:2px;
      line-height:30px;
    }
  }
}

.rating span 
.rating span:hover ~ span label,
.rating span:hover label,
.rating span.checked label,
.rating span.checked ~ span label {
    color:#F90;
}