!!!
%html
  %head
    = stylesheet_link_tag 'application'
  %body
    %a.header{href: cms_index_url }
    %img.headerlinksmap{:src => image_url('headerlinks80ppi.png'), :usemap => 'headerlinksmap'}
    %map{:name => 'headerlinksmap'}
      %area{shape: 'rect', coords: '0,0,125,31',   href: cms_url('About Us'), alt: 'About Us'}
      %area{shape: 'rect', coords: '126,0,250,31', href: cms_url('Products'), alt: 'Products'}
      %area{shape: 'rect', coords: '251,0,413,31', href: cms_url('Why Insects'), alt: 'Why Insects'}
      %area{shape: 'rect', coords: '414,0,528,31', href: cms_url('Connect'), alt: 'Connect'}
      %area{shape: 'rect', coords: '529,0,677,31', href: cms_url('Shop Online'), alt: 'Shop Online'}
    - unless @cms_page.ancestors.empty?
      %ul.breadcrumbs
        - @cms_page.ancestors.reverse.each do |page|
          %li
            %a{href: page.url}
              = page.label.downcase
    .content
      = yield
    .footerinfo
    .footer
      .socialmedia
        %ul
          %li
            %a.facebook{href: 'http://www.facebook.com/EcotoneFoods'}
          %li
            %a.twitter{href: 'http://www.twitter.com/EcotoneFoods'}
          %li
            %a.instagram{href: 'http://www.instagram.com/EcotoneFoods'}
          %li
            %a.pinterest{href: 'http://www.pinterest.com/EcotoneFoods'}
          %li
            %a.linkedin{href: 'http://www.linkedin.com/EcotoneFoods'}
          %li
            %a.youtube{href: 'http://www.youtube.com/EcotoneFoods'}
          %li
            %a.googleplus{href: 'http://www.googleplus.com/EcotoneFoods'}
          %li
            %a.tumblr{href: 'http://www.tumblr.com/EcotoneFoods'}
          %li
            %a.skype{href: 'http://www.skype.com/EcotoneFoods'}
          %li
            %a.vimeo{href: 'http://www.vimeo.com/EcotoneFoods'}
      .extralinks
        .column
          %li
            %a{href: cms_url('About Us')} About Us
          %li
            %a{href: cms_url('Products')} Products
          %li
            %a{href: cms_url('Why Insects')} Why Insects?
          %li
            %a{href: cms_url('Connect')} Connect
          %li
            %a{href: cms_url('Shop Online')} Shop Online
          %li Shopping Cart
          %li Checkout
        .column
          %li
            %a{href: cms_url('Terms of Service')} Terms of Service
          %li
            %a{href: cms_url('Legal Disclaimer')} Legal Disclaimer
          %li
            %a{href: cms_url('Privacy Policy')} Privacy Policy
    